p1{

    font-family: verdana;
    font-size: 20px;
    color: aliceblue;

}


header{

width: auto;
margin-bottom: 100px;

}

ul{


margin-top:70px;


}

body{
    background-image: url(./Imagenes/pexels-1.jpg);
    background-position: center;
    background-repeat: repeat;
    width: 1000;
    height: 1000;
    text-shadow: 1px 1px 1px rgb(81, 255, 0);
    text-emphasis-color: white;

}

section{

margin-top: 20px;

}

#LOGO{

float:left;
margin-right: 50px;
margin-left: 70px;

}

#texto_1{

    color:wheat;

}

#texto_2{

color: wheat;

}

h4{
font-size: 25px;
text-align: center;
color:beige;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 8px 8px 2px rgb(red, green, blue);

}

#img_1{

float: left;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 30px;


}

#img_2{

float:right;
margin-left: 20px;
margin-right: 30px;
}

.div1{
        display: flex;
    justify-content: center;
  }
  
.div1 img{
    margin-right:50px; /* Espacio horizontal entre las imágenes */
  }


.div2{
 display: flex;
justify-content: center;
}

.div2 h2{
    margin-right:50px; /* Espacio horizontal entre las imágenes */
 }

